.service-card {
  width: var(--card-width);
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-card);

  @include mobile {
    width: 260px;
    padding: 36px;
  }

  &__title {
    color: var(--color-dark-blue)
  }

  &__description {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  &__link {
    display: flex;
    column-gap: 24px;
    color: var(--color-blue);

    &-icon-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

.icon {

  &__man-with-list {
    margin: 0 76px 56px 26px;

    @include mobile {
      margin-inline: 0;
      margin-bottom: 20px;
    }
  }

  &__woman-with-smart-home {
    margin: -72px 30px 51px;

    @include mobile {
      margin-left: 8px;
      margin-bottom: 15px;
    }

  }

  &__woman-with-laptop {
    margin: 0 76px 56px 52px;

    @include mobile {
      margin-inline: 0;
      margin-bottom: 20px;
    }
  }
}